<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CLIC: "What if?"</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fa-svg-with-js.css">
    <link rel="stylesheet" href="static/css/index.css">

</head>
<body>

    <nav class="navbar navbar-dark bg-dark mb-4" id="app_status">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">CLIC</a>
        <span class="navbar-text text-white"><strong>Bando:</strong> {{ fpath }}</span>
        <div class="nav-item active flex-column">
            <div><span v-bind:class="{invisible: !read_only}" style="width:100%" class="badge badge-danger">Sola lettura</span></div>
            <div><span v-bind:class="{invisible: !modified}" style="width:100%" class="badge badge-warning">Modificato</span></div>
        </div>
    </nav>

    <div id="structure" class="container">
        <h3>Offerta Economica</h3>
        <!-- TODO: shall we also support prezzo fisso? -->

        <div class="container mb-2">
            <div class="form-row">
                <div class="form-group col-auto">
                    <label for="eco_base_asta">Modalit&agrave;</label>
                    <div class="form-check">
                        <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="ribasso" value="ribasso" v-model="mod_economica">
                        <label class="form-check-label" for="ribasso">Ribasso</label>
                    </div>
                    <div class="form-check">
                        <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="prezzo" value="prezzo" v-model="mod_economica">
                        <label class="form-check-label" for="prezzo">Prezzo</label>
                    </div>
                </div>

                <div class="form-group col-auto no-expand">
                    <label>Peso</label>
                    <input type="number" min="0" max="100" step="5" v-bind:class="{'form-control':true, 'is-invalid':top_werror}" v-model="peso_economica">
                    <!-- <small id="eco_base_asta_help" class="form-text text-muted">Decimale positivo con due cifre</small> -->
                </div>

                <div class="form-group col-auto" v-if="mod_economica == 'prezzo'">
                    <label for="eco_base_asta">Base d'asta</label>
                    <input type="number" min="0" step="0.01" class="form-control" name="eco_base_asta" id="eco_base_asta" aria-describedby="eco_base_asta_help" v-model.number="base_asta">
                    <!-- <small id="eco_base_asta_help" class="form-text text-muted">Decimale positivo con due cifre</small> -->
                </div>

                <div class="form-group col-auto">
                    <label for="eco_func">Formula</label>
                    <!--class="custom-select"-->
                    <select
                        class="form-control"
                        id="eco_func"
                        v-model="funzione_economica">
                        <option v-for="(o, fname) in funcs" v-bind:value="fname">{{ fname | undash}}</option>
                    </select>
                </div>

                <div class="form-group col-auto">
                    <label>Parametri</label>

                    <div class="input-group">
                        <template
                            class="input-group"
                            v-for="(p, pname) in funcs[funzione_economica][mod_economica == 'prezzo' ? 'down' : 'up'].params">

                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ pname | csub | undash }}</span>
                            </div>

                            <input
                                type="number"
                                v-bind:min=     "funcs[funzione_economica][mod_economica == 'prezzo' ? 'up' : 'down'].params[pname].domain.start"
                                v-bind:max=     "funcs[funzione_economica][mod_economica == 'prezzo' ? 'up' : 'down'].params[pname].domain.end"
                                v-bind:step=    "funcs[funzione_economica][mod_economica == 'prezzo' ? 'up' : 'down'].params[pname].domain.step"
                                v-bind:required="funcs[funzione_economica][mod_economica == 'prezzo' ? 'up' : 'down'].params[pname].required"
                                v-bind:name="pname"
                                class="form-control no-expand"
                                v-model:name="parametri_economica[pname]"
                            />
                        </template>
                    </div>
                </div>
            </div>
        </div>


        <h3>Offerta Tecnica</h3>

        <form class="form-inline">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rep1">
                <label class="form-check-label" for="rep1" v-model="riparametrizzazione1">Riparametrizzazione livello 1</label>
            </div>
            <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="rep2">
                <label class="form-check-label" for="rep1" v-model="riparametrizzazione2">Riparametrizzazione livello 2</label>
            </div>
        </form>

        <ul class="nols">
            <!-- <li value="-1"># - &#931; - Tipo - &#120582;</li> -->

            <criterio
                v-for="(model, index) in criteri"
                v-bind:index="index"
                v-bind:model="model"
                v-bind:name="index+1"
                v-bind:depth="1"
                v-bind:werror="top_werror">
        </ul>
    </div>

    <!-- for style see input group from bootstrap -->
    <script type="text/x-template" id="tpl_criterio">
    <li>
        <!-- style is hack for align -->
        <form class="form-inline">
            <label v-bind:style="{'min-width': padding}" class="my-1 mr-2">{{name}}</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#931;</span>
                </div>
                <input type="number" min="0" max="100"
                    v-bind:class="{'is-invalid': werror, 'form-control': true, 'form-control': true}"
                    v-model.number="model.peso">
            </div>

            <!-- Note: hiding if got subcriteria -->
            <div class="input-group ml-2" v-if="!model.subcriteri">
                <select class="custom-select no-expand" v-model="model.tipo">
                    <option value="Q">Q</option>
                    <option value="D">D</option>
                    <option value="T">T</option>
                </select>

                <select
                    v-if="model.tipo=='Q'"
                    class="custom-select"
                    v-model="model.funzione">
                    <option v-for="(o, fname) in funcs" v-bind:value="fname">{{ fname | undash}}</option>
                </select>
            </div>

            <!-- TODO: What about force new line and then align right? -->
            <div class="input-group ml-2">
                <template v-if="!model.subcriteri && safe_f">
                    <template
                        class="input-group"
                        v-for="(p, pname) in funcs[model.funzione].up.params">

                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ pname | csub | undash }}</span>
                        </div>

                        <input
                            type="number"
                            v-bind:min="funcs[model.funzione].up.params[pname].domain.start"
                            v-bind:max="funcs[model.funzione].up.params[pname].domain.end"
                            v-bind:step="funcs[model.funzione].up.params[pname].domain.step"
                            v-bind:required="funcs[model.funzione].up.params[pname].required"
                            v-bind:name="pname"
                            class="form-control no-expand"
                            v-model:name="model.parametri[pname]"
                        />
                    </template>
                </template>
            </div>
        </form>

        <!-- Recursively enumerate subcriteria -->
        <!-- Error style alternative: bg-danger -->
        <ul v-if="model.subcriteri" v-bind:class="{'border-danger': weightError}">
            <criterio
                v-for="(model, index) in model.subcriteri"
                v-bind:index="index"
                v-bind:key="index"
                v-bind:model="model"
                v-bind:name="name + '.' + (index + 1)"
                v-bind:depth="depth + 1"
                v-bind:werror="weightError"
                />
        </ul>
    </li>
    </script>


    <div id="simulation">

        <div class="container d-flex">
            <div class="flex-fill text-left">
                <h3>Dati</h3>
            </div>
            <div class="d-flex align-items-end text-right mb-2">
                <strong>Modalit&agrave;</strong >
                <div class="form-check-inline ml-2">
                    <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="explore" value="explore" v-model="env_data_mode">
                    <label class="form-check-label" for="explore">Esplora</label>
                </div>
                <div class="form-check-inline mr-0">
                    <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="edit" value="edit" v-model="env_data_mode">
                    <label class="form-check-label" for="edit">Modifica</label>
                </div>
            </div>
        </div>



        <!-- TODO: consider add switch for "edit"/"view" mode, default view -->
        <div class="text-center">
            <table id="data" class="table table-striped text-right">
                <thead>
                    <tr>
                        <th><span>#</span></th>
                        <th><span>Economica</span></th>
                        <th scope="col" v-for="c in cols" v-bind:colspan="c.tipo == 'T'? c.voci.length : 1">
                            <span v-bind:title="c.nome">{{c.env_name}}</span>
                        </th>
                    </tr>
                    <tr>
                        <th><small>Peso</small></th>
                        <th>
                            <small v-if="env_data_mode == 'explore'">{{peso_economica}}</small>
                            <input v-else v-model="peso_economica" type="number" min="0" max="100" step="0.5">
                        </th>

                        <template v-for="c in cols">
                            <template v-if="c.tipo == 'T'">
                                <th v-for="(v, vi) in c.voci">
                                    <small v-if="env_data_mode == 'explore'">{{c.voci[vi]}}</small>
                                    <!-- TODO: consider set max == to parent.peso -->
                                    <!-- NOTE: 99 instead of 100 to fit same size as bottom -->
                                    <input v-else v-model="c.voci[vi]" type="number" min="0" max="99" step="0.5">
                                </th>
                            </template>
                            <template v-else>
                                <th>
                                    <small v-if="env_data_mode == 'explore'">{{c.peso}}</small>
                                    <!-- TODO: consider set max == to parent.peso -->
                                    <!-- NOTE: 99 instead of 100 to fit same size as bottom -->
                                    <input v-else v-model="c.peso" type="number" min="0" max="99" step="0.5">
                                </th>
                            </template>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(o, i) in offerte" :key="o.nome">
                        <template v-if="env_data_mode == 'explore'">
                            <!-- TODO: Add color backgroud to show distribution -->
                            <td class="text-left">{{ o.nome }}</td>
                            <td>{{o.economica[0] | prec2}}</td>
                            <template v-for="(t, ti) in o.tecnica">
                                <template v-if="cols[ti].tipo == 'T'">
                                    <template v-for="(v, vi) in cols[ti].voci">
                                        <td class="text-center">
                                            <!--
                                                Do not use awesome + js here.
                                                Only static content.
                                            -->
                                            <span v-if="t[vi]">&#x2714;</span>
                                            <span v-else>&#x2718;</span>
                                        </td>
                                    </template>
                                </template>
                                <template v-else>
                                    <td>{{t | prec2}}</td>
                                </template>
                            </template>
                        </template>

                        <template v-else>
                            <td class="text-left"><input type="text" v-model="o.nome"></td>
                            <td><input type="number" min="0" step="0.01" v-model="o.economica[0]"></td>
                            <template v-for="(t, ti) in o.tecnica">
                                <template v-if="cols[ti].tipo == 'T'">
                                    <td v-for="(v, vi) in cols[ti].voci" class="text-center">
                                        <input type="checkbox" v-model="t[vi]">
                                    </td>
                                </template>
                                <template v-else-if="cols[ti].tipo == 'D'">
                                    <td><input type="number" min="0" step="0.01" max="1" v-model="o.tecnica[ti]"></td>
                                </template>
                                <template v-else>
                                    <td><input type="number" min="0" step="0.01" v-model="o.tecnica[ti]"></td>
                                </template>
                            </template>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <div class="container text-left">
                <h3>Ranking</h3>
            </div>
            <table id="data" class="table table-striped text-right">
                <thead>
                    <tr>
                        <td>
                            <span class="x-middle"></span>
                            <div class="d-inline-flex flex-column ml-2">
                                <input id="nome_asc" type="radio" v-model="env_data_orderby" value="nome_asc">
                                <label for="nome_asc" class="mb-0">&#x25B2;</label>
                                <input id="nome_desc" type="radio" v-model="env_data_orderby" value="nome_desc">
                                <label for="nome_desc" class="mb-0">&#x25BC;</label>
                            </div>
                        </td>
                        <td>
                            <span class="x-middle">Σ</span>
                            <div class="d-inline-flex flex-column ml-2">
                                <input id="agg_asc" type="radio" v-model="env_data_orderby" value="agg_asc">
                                <label for="agg_asc" class="mb-0">&#x25B2;</label>
                                <input id="agg_desc" type="radio" v-model="env_data_orderby" value="agg_desc">
                                <label for="agg_desc" class="mb-0">&#x25BC;</label>
                            </div>
                        </td>
                        <td>
                            <span class="x-middle">Electre</span>
                            <div class="d-inline-flex flex-column ml-2">
                                <input id="electre_asc" type="radio" v-model="env_data_orderby" value="electre_asc">
                                <label for="electre_asc" class="mb-0">&#x25B2;</label>
                                <input id="electre_desc" type="radio" v-model="env_data_orderby" value="electre_desc">
                                <label for="electre_desc" class="mb-0">&#x25BC;</label>
                            </div>
                        </td>
                        <td>
                            <span class="x-middle">Topsis</span>
                            <div class="d-inline-flex flex-column ml-2">
                                <input id="topsis_asc" type="radio" v-model="env_data_orderby" value="topsis_asc">
                                <label for="topsis_asc" class="mb-0">&#x25B2;</label>
                                <input id="topsis_desc" type="radio" v-model="env_data_orderby" value="topsis_desc">
                                <label for="topsis_desc" class="mb-0">&#x25BC;</label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(o, oi) in scoreboard">
                        <td>{{ o.nome }}</td>
                        <td>{{ o.agg }}</td>
                        <td></td>
                        <td></td>
                        <!--
                        <td>{{ o.electre }}</td>
                        <td>{{ o.topsis }}</td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script defer src="static/js/fontawesome-all.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>
