<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Struttura del bando</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fa-svg-with-js.css">
    <link rel="stylesheet" href="static/css/shared.css">

</head>
<body>

    <nav class="navbar navbar-dark bg-dark" id="app_status">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">CLIC</a>
        <span class="navbar-text text-white"><strong>Bando:</strong> {{ fpath }}</span>
        <div class="nav-item active flex-column">
            <div><span v-bind:class="{invisible: !read_only}" style="width:100%" class="badge badge-danger">Sola lettura</span></div>
            <div><span v-bind:class="{invisible: !modified}" style="width:100%" class="badge badge-warning">Modificato</span></div>
        </div>
    </nav>

    <div id="structure" class="container">
        <h3>Offerta Economica</h3>
        <!-- TODO: shall we also support prezzo fisso? -->

        <div class="container">
            <div class="form-row">
                <div class="form-group col">
                    <label for="eco_base_asta">Modalit&agrave;</label>
                    <div class="form-check">
                        <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="ribasso" value="ribasso" v-model="mod_economica">
                        <label class="form-check-label" for="ribasso">Ribasso</label>
                    </div>
                    <div class="form-check">
                        <input style="margin-top:0.05rem" class="form-check-input" type="radio" id="prezzo" value="prezzo" v-model="mod_economica">
                        <label class="form-check-label" for="prezzo">Prezzo</label>
                    </div>
                </div>

                <div class="form-group no-expand">
                    <label>Peso</label>
                    <input type="number" min="0" max="100" step="5" v-bind:class="{'form-control':true, 'is-invalid':top_werror}" v-model="peso_economica">
                    <!-- <small id="eco_base_asta_help" class="form-text text-muted">Decimale positivo con due cifre</small> -->
                </div>

                <div class="form-group col" v-if="mod_economica == 'ribasso'">
                    <label for="eco_base_asta">Base d'asta</label>
                    <input type="number" min="0" step="0.01" class="form-control" name="eco_base_asta" id="eco_base_asta" aria-describedby="eco_base_asta_help" v-model.number="base_asta">
                    <!-- <small id="eco_base_asta_help" class="form-text text-muted">Decimale positivo con due cifre</small> -->
                </div>

                <div class="form-group col">
                    <label for="eco_func">Formula</label>
                    <select class="form-control" id="eco_func">
                        <!-- TODO: populate from js (we may also need to ask for more paramteres) -->
                    </select>
                </div>
            </div>
        </div>


        <h3>Offerta Tecnica</h3>

        <form class="form-inline">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rep1">
                <label class="form-check-label" for="rep1" v-model="riparametrizzazione1">Riparametrizzazione livello 1</label>
            </div>
            <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="rep2">
                <label class="form-check-label" for="rep1" v-model="riparametrizzazione2">Riparametrizzazione livello 2</label>
            </div>
        </form>

        <ul class="nols">
            <!-- <li value="-1"># - &#931; - Tipo - &#120582;</li> -->

            <criterio
                v-for="(model, index) in criteri"
                v-bind:index="index"
                v-bind:model="model"
                v-bind:name="index+1"
                v-bind:depth="1"
                v-bind:werror="top_werror">
        </ul>
    </div>

    <!-- for style see input group from bootstrap -->
    <script type="text/x-template" id="tpl_criterio">
    <li>
        <!-- style is hack for align -->
        <form class="form-inline">
            <label v-bind:style="{'min-width': padding}" class="my-1 mr-2">{{name}}</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#931;</span>
                </div>
                <input type="number" min="0" max="100"
                    v-bind:class="{'is-invalid': werror, 'form-control': true, 'form-control': true}"
                    v-model.number="model.peso">
            </div>

            <!-- Note: hiding if got subcriteria -->
            <div class="input-group ml-2" v-if="!model.subcriteri">
                <select class="custom-select no-expand" v-model="model.tipo">
                    <option value="Q">Q</option>
                    <option value="D">D</option>
                    <option value="T">T</option>
                </select>

                <select
                    v-if="model.tipo=='Q'"
                    class="custom-select"
                    v-model="model.funzione">

                    <option v-for="(o, fname) in funcs" v-bind:value="fname">{{ fname | undash}}</option>
                </select>
            </div>

            <!-- TODO: What about force new line and then align right? -->
            <div class="input-group ml-2">
                <template v-if="!model.subcriteri && safe_f">
                    <template
                        class="input-group"
                        v-for="(p, pname) in funcs[model.funzione].up.params">

                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ pname | csub | undash }}</span>
                        </div>

                        <input
                            type="number"
                            v-bind:min="funcs[model.funzione].up.params[pname].domain.start"
                            v-bind:max="funcs[model.funzione].up.params[pname].domain.end"
                            v-bind:step="funcs[model.funzione].up.params[pname].domain.step"
                            v-bind:required="funcs[model.funzione].up.params[pname].required"
                            v-bind:name="pname"
                            class="form-control no-expand"
                            v-model:name="model.parametri[pname]"
                        />
                    </template>
                </template>
            </div>
        </form>

        <!-- Recursively enumerate subcriteria -->
        <!-- Error style alternative: bg-danger -->
        <ul v-if="model.subcriteri" v-bind:class="{'border-danger': weightError}">
            <criterio
                v-for="(model, index) in model.subcriteri"
                v-bind:index="index"
                v-bind:key="index"
                v-bind:model="model"
                v-bind:name="name + '.' + (index + 1)"
                v-bind:depth="depth + 1"
                v-bind:werror="weightError"
                />
        </ul>
    </li>
    </script>

    <script defer src="static/js/fontawesome-all.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/structure.js"></script>
</body>
</html>
