body { font: caption; }
.nols, .nols ul, .nols ol {
  list-style: none;
  padding-left: 20px;
}
.nols {padding-left:0}
.nols li {padding-top: .4rem}
.nols li>form>* {padding-top: .4rem}
.nols ul {padding-bottom: .8rem}
.nols label {justify-content: unset}

.input-group>.no-expand {flex-grow:0; width: auto}

#data th {text-align:center}

#data {
  display: inline-block;
  width: auto;
  margin: auto;

  max-width: 100%;
  overflow-x: auto;
}

#data thead tr:nth-child(2)>th:not(:first-child) {font-family: monospace}
#data thead tr:first-child>th {padding-bottom: 0;border-bottom: 0;}
#data thead tr:last-child>th {padding-top: 0;border-top: 0;}
#data tbody tr>td:not(:first-child) {font-family: monospace}


#data input[type="radio"] {display:none}

#data input[type="radio"]+label {
  color: #ccc;
  cursor: pointer;
  font-size: 0.6rem;
}

#data input[type="radio"]:checked+label {
  color: #333;
}

#data .x-middle {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

#data input[type="radio"]+label:hover {
  color: #000;
}

/* vertical-align: -webkit-baseline-middle*/
